.ingame_page {
  margin-top: 150px;
  width: 1020px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding-top:20px;
  padding-bottom:50px;
}
.turn_count{
  font-weight: bold;
  font-size:25px;

}
.modal_pokemon_container{
  display:flex;
  justify-content: center;
}


