.testpage{
    /* background-color: #ccc; */
    height: 400px;
    width: 550px;
    margin:0 auto;
    position: relative;
    margin-top: 130px;
    text-align: center;
    padding-top:100px ;
}
.teststart{
    height: 30px;
    width: 100px;
    margin:0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.selectButton{
    width: 100px;
    height: 80px;
    margin: 0 auto;
}