.footer {
  background-color: beige;
  margin: 10px;
  height: 100px;
  width: 960px;
  padding: 30px;
  border: 2px solid black;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.footer_content_container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height:100px
}
.footer_content {
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: italic;
  
}

