.testpage{

    height: 700px;
    width: 550px;
    margin:0 auto;
    position: relative;
    margin-top: 130px;
    text-align: center;
    padding-top:100px ;
}
.Charcterflip { 

    width: 500px;
    height: 600px;
    visibility:hidden;
    perspective: 1100px;
}
.Charctercard {
    width: 100%; 
    height: 100%; 
    position: relative;
    transition: .4s;
    transform-style: preserve-3d;
}	
.Charcterfront, .Charcterback {
    position: absolute;
    width: 100%; 
    height: 100%;
    backface-visibility: hidden;
    /* text-align: center; */
}


.Charcterback { 
    transform: rotateY(180deg);
}

.fig-container {
    display: flex;
}

.fig-container figure {
    display: inline-block;
    margin: 13px;
}
.finalpage {
    height: 700px;
    width: 550px;
    margin:0 auto;
    position: relative;
    margin-top: 130px;
    text-align: center;
    padding-top:100px ;
    
}